.about{
    height:auto;
}
.about__content p{
    text-align:justify;
    position: relative;

       
        
    
}
h2,h5{
    color:var(--color-primary);
    font-weight:5000;
}
.pill-container {
    gap: 20px 50px;
  }
/*====media quies(medium devics)============*/
@media screen and (max-width:1024px){
    .about__cointainer{
        grid-template-columns: 1fr;
        gap: 0;
        
    }
    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
        
    }
    .about__content p{
        margin: 1rem 0 1.5rem;
    }


}
/*====media quies(small devics)============*/
@media screen and (max-width:600px){

    .about__me{
        margin :3rem;
        
    }
    .about__content {
        text-align:center;
    }
    .about__content p{
        margin:1.5rem 0;
    }

}
